tqdm
colorama
numpy
scipy
matplotlib
pandas
openpyxl

decorators @ git+https://github.com/ParkhomenkoDV/decorators.git@master
mathematics @ git+https://github.com/ParkhomenkoDV/mathematics.git@master

pytest

